*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Static Fonts */
@font-face {
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../assets/fonts/static/DMSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'DMSans-Medium', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('../assets/fonts/static/DMSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'DMSans-MediumItalic', sans-serif;
    font-weight: 500;
    font-style: italic;
    font-display: swap;
    src: url('../assets/fonts/static/DMSans-MediumItalic.ttf') format('truetype');
}
/* Custom Colors*/
:root {
    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);

    --yellow-100: hsl(31, 66%, 93%);
    --yellow-500: hsl(39, 100%, 71%);

    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
}

/* General Typography */

body {
    font-family: 'DMSans-Regular', sans-serif;
}

p {
    font-size: 1.125rem;
}

img {
    max-width: 100%;
}

.italic {
    font-family: 'DMSans-MediumItalic', sans-serif;
    font-style: italic;
    font-weight: 500;
}

.yellow {
    color: var(--yellow-500);
}

.margin-right {
    margin-right: 1rem;
}

/* Mobile Layout */
.bento__grid--container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    
    gap: 1.5rem;
    padding: 1rem;
}
/* Card One */
.bento__grid--cardOne {
    background-color: var(--purple-500);
    border-radius: 0.5rem;
    padding: 2rem;

    text-align: center;
}

.cardOne__title {
    color: var(--white);
    font-family: 'DMSans-Medium', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;;

    margin-bottom: 1rem;
}

.cardOne__text {
    color: var(--purple-100);
}



