*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Static Fonts */
@font-face {
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../assets/fonts/static/DMSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'DMSans-Medium', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('../assets/fonts/static/DMSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'DMSans-MediumItalic', sans-serif;
    font-weight: 500;
    font-style: italic;
    font-display: swap;
    src: url('../assets/fonts/static/DMSans-MediumItalic.ttf') format('truetype');
}
/* Custom Colors*/
:root {
    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);

    --yellow-100: hsl(31, 66%, 93%);
    --yellow-500: hsl(39, 100%, 71%);

    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
}

/* General Typography */

body {
    font-family: 'DMSans-Regular', sans-serif;
}

p {
    font-size: 1.125rem;
}

img {
    max-width: 100%;
}

h1,
h2 {
    font-weight: 500;
    line-height: 1;
}

.italic {
    font-family: 'DMSans-MediumItalic', sans-serif;
    font-style: italic;
    font-weight: 500;
}

.yellow {
    color: var(--yellow-500);
}

.margin-right {
    margin-right: 1rem;
}

.margin-right--medium {
    margin-right: 2rem;
}

.margin-left--small {
    margin-left: 0.5rem;
}

.margin-left {
    margin-left: 1rem;
}

.padding-right--left {
    padding: 0 2rem 0 2rem;
}

.text__align--center {
    padding: 0 2.2rem 0 2.2rem;
}

/* Mobile Layout */
.bento__grid--container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    
    gap: 1.5rem;
    padding: 1rem;
}
/* Card One */
.bento__grid--cardOne {
    background-color: var(--purple-500);
    border-radius: 0.5rem;
    padding: 2rem;

    text-align: center;
}

.cardOne__title {
    color: var(--white);
    font-family: 'DMSans-Medium', sans-serif;
    font-size: 2.5rem;

    margin-bottom: 1rem;
}

.cardOne__text {
    color: var(--purple-100);
}

/* Card Two */
.bento__grid--cardTwo {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;

    padding: 1.5rem;
}

.cardTwo__title {
    color: var(--black);
    font-family: 'DMSans-Medium', sans-serif;

    margin-top: 0.5rem;
}

/* Card Three */
.bento__grid--cardThree {
    background-color: var(--yellow-500);
    border-radius: 0.5rem;

    position: relative;
    padding: 1rem 1rem 0 1rem;
}

.cardThree__title {
    color: var(--black);
    font-family: 'DMsans-Medium';

    margin-bottom: 1rem;
}

.consistentSchedule__image--cardThree {
    width: 70%;
    margin-bottom: -0.25rem;
}

/* Card Four */
.bento__grid--cardFour {
    background-color: var(--purple-100);
    border-radius: 0.5rem;

    text-align: center;
    padding: 1.5rem 1rem;
}

.cardFour__title {
    color: var(--black);

    margin-bottom: 1rem;
}

.cardFour__text {
    color: var(--black);

    margin-top: 1rem;
}

/* Card Five */
.bento__grid--cardFive {
    background-color: var(--purple-500);
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1.25rem 0 1.25rem 0;
}

.grow__image--cardFive {
    width: 70%;
}

.cardFive__title {
    color: var(--white);

    margin-top: 1.5rem;
    width: 50%;
}


