*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Static Fonts */
@font-face {
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../assets/fonts/static/DMSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'DMSans-Medium', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('../assets/fonts/static/DMSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'DMSans-MediumItalic', sans-serif;
    font-weight: 500;
    font-style: italic;
    font-display: swap;
    src: url('../assets/fonts/static/DMSans-MediumItalic.ttf') format('truetype');
}
/* Custom Colors*/
:root {
    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);

    --yellow-100: hsl(31, 66%, 93%);
    --yellow-500: hsl(39, 100%, 71%);

    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
}

/* General Typography */

body {
    font-family: 'DMSans-Regular', sans-serif;
}

p {
    font-size: 1.125rem;
}

img {
    max-width: 100%;
}

h1,
h2 {
    font-weight: 500;
    line-height: 1;
}

.italic {
    font-family: 'DMSans-MediumItalic', sans-serif;
    font-style: italic;
    font-weight: 500;
}

.yellow {
    color: var(--yellow-500);
}

.margin-right {
    margin-right: 1rem;
}

.span__italic--purple {
    color: var(--purple-500);
    font-style: italic;
}

/* Mobile Layout */
.bento__grid--container {
    display: grid;
    grid-template-columns: 1fr;
    
    gap: 1.5rem;
    padding: 1rem;
}
/* Card One */
.bento__grid--cardOne {
    background-color: var(--purple-500);
    border-radius: 0.5rem;
    padding: 2rem;

    text-align: center;
}

.cardOne__title {
    color: var(--white);
    font-family: 'DMSans-Medium', sans-serif;
    font-size: 2.5rem;

    margin-bottom: 1rem;
}

.cardOne__text {
    color: var(--purple-100);
}

/* Card Two */
.bento__grid--cardTwo {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;

    padding: 1.5rem;
}

.cardTwo__title {
    color: var(--black);
    font-family: 'DMSans-Medium', sans-serif;

    margin-top: 0.5rem;
}

/* Card Three */
.bento__grid--cardThree {
    background-color: var(--yellow-500);
    border-radius: 0.5rem;

    position: relative;
    padding: 1rem 1rem 0 1rem;
}

.cardThree__title {
    color: var(--black);
    font-family: 'DMsans-Medium';

    margin-bottom: 1rem;
}

.consistentSchedule__image--cardThree {
    width: 70%;
    margin-bottom: -0.25rem;
}

/* Card Four */
.bento__grid--cardFour {
    background-color: var(--purple-100);
    border-radius: 0.5rem;

    text-align: center;
    padding: 1.5rem 1rem;
}

.cardFour__title {
    color: var(--black);

    margin-bottom: 1rem;
}

.cardFour__text {
    color: var(--black);

    margin-top: 1rem;
}

/* Card Five */
.bento__grid--cardFive {
    background-color: var(--purple-500);
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1.25rem 0 1.25rem 0;
}

.grow__image--cardFive {
    width: 70%;
}

.cardFive__title {
    color: var(--white);

    margin-top: 1.5rem;
    width: 50%;
    text-align: center;
}

/* Card Six */
.bento__grid--cardSix {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    padding: 1.5rem;
}

.cardSix__title {
    color: var(--black);
    font-family: 'DMSans-Medium', sans-serif;
    font-size: 2.5rem;

    margin-bottom: 1rem;
}

.cardSix__text {
    color: var(--black);

    margin-bottom: 1rem;
}

.audience__image--cardSix {
    width: 50%;
}

/* Card Seven */
.bento__grid--cardSeven {
    background-color: var(--yellow-100);
    border-radius: 0.5rem;
    padding: 1.75rem;
}

.cardSeven__title {
    font-family: 'DMSans-Medium', sans-serif;
    margin-bottom: 1.25rem;
}

.post__image--cardSeven {
    width: 50%;
}

/* Card Eight */
.bento__grid--cardEight {
    background-color: var(--yellow-500);
    border-radius: 0.5rem;

    padding: 1.25rem 1rem 1.125rem 1rem;
}

.cardEight__title {
    color: var(--black);
    font-family: 'DMSans-Medium', sans-serif;

    width: 80%;
    margin-bottom: 1rem;
}

.ai__image--cardEight {
    width: 70%;
}

/* Portrait - Landscape Tablets*/
@media only screen and (min-width: 768px) {
    .bento__grid--container {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(50px, auto);

        grid-template-areas: 
            "card-one card-one card-one card-one"
            "card-two card-two card-three card-three"
            "card-four card-four card-five card-five"
            "card-six card-six card-seven card-seven"
            "card-eight card-eight card-eight card-eight";
    }

    .bento__grid--cardOne {
        grid-area: card-one;
    }

    .bento__grid--cardTwo {
        grid-area: card-two;
    }

    .bento__grid--cardThree {
        grid-area: card-three;
    }

    .bento__grid--cardFour {
        grid-area: card-four;
    }

    .bento__grid--cardFive {
        grid-area: card-five;
    }

    .bento__grid--cardSix {
        grid-area: card-six;
    }

    .bento__grid--cardSeven {
        grid-area: card-seven;
    }

    .bento__grid--cardEight {
        grid-area: card-eight;
    }
}

/* Laptop - Desktop */
@media only screen and (min-width: 992px) {
    .bento__grid--container {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;

        grid-template-areas: 
        "card-seven card-one card-one card-four"
        "card-seven card-two card-three card-four"
        "card-eight card-two card-three card-four"
        "card-eight card-six card-five card-five";

        padding: 4rem 8rem;
    }

    .bento__grid--cardOne {
        grid-area: card-one;
    }

    .cardOne__title {
        padding: 1rem 2rem;
        font-size: 3.5rem;
    }

    .margin-right {
        margin: 0;
    }

    .bento__grid--cardTwo {
        grid-area: card-two;

        padding: 2rem;
    }

    .cardTwo__title {
        font-size: 2.25rem;

        margin-top: 2rem;
    }

    .bento__grid--cardThree {
        grid-area: card-three;
    }

    .cardThree__title {
        font-size: 2.25rem;
    }

    .bento__grid--cardFour {
        grid-area: card-four;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cardFour__title {
        margin: 0 0 1.5rem 0;
        font-size: 2.35rem;
    }

    .cardFour__text {
        display: flex;
    }

    .schedulePosts__image--cardFour {
        width: 100%;
    }

    .bento__grid--cardFive {
        display: flex;
        flex-direction: row;
        grid-area: card-five;

        padding: 1rem;
    }

    .grow__image--cardFive {
        width: 50%;
    }

    .bento__grid--cardSix {
        grid-area: card-six;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cardSix__title {
        font-size: 3.5rem;
    }

    .cardSix__text {
        margin-bottom: 3rem;
    }

    .audience__image--cardSix {
        width: 90%;
    }

    .bento__grid--cardSeven {
        grid-area: card-seven;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cardSeven__title {
        font-size: 2rem;
        width: 60%;
    }

    .post__image--cardSeven {
        width: 100%;
    }

    .bento__grid--cardEight {
        grid-area: card-eight;

        display: flex;
        flex-direction: column;
    }

    .cardEight__title {
        font-size: 2.5rem;
        margin: 1rem 0 4rem 0;
    }

    .ai__image--cardEight {
        width: 100%;
    }
}